<h1><%= @task.title %></h1>


<p><%= @task.details %></p>

<div class="edit">
  <%= link_to "Edit this task", edit_path %>
</div>

<div class="show">
  <%= link_to "Back to list", list_path %>
</div>


